
<footer class="mt-5 text-bg-dark border shadow-sm overflow-hidden">
    <ul class="nav justify-content-center border-bottom">
      <li class="nav-item"><a href="#" class="nav-link px-2" [routerLink]="['/home']">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2" [routerLink]="['/user-guide-videos']">User Guides</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2" [routerLink]="['/about']">About Author</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2" [routerLink]="['/contact-form']">Contact</a></li>
    </ul>
    <p class="text-center text-body-secondary text-footer">Copyright © 2025 Mitja Pupaher - Student Project Assignment of MVOP Course - January, 2025 - Faculty of information studies-Slovenia, Sofware Version.1.0.0 beta</p>
  </footer>
