
<footer class="mt-5 text-bg-dark border shadow-sm overflow-hidden">
    <ul class="nav justify-content-center border-bottom mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2" [routerLink]="['/home']">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2" [routerLink]="['/user-guide']">User Guide</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2" [routerLink]="['/about']">About Author</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2" [routerLink]="['/contact']">Contact</a></li>
    </ul>
    <p class="text-center text-body-secondary text-footer mt-0">© 2025 Mitja Pupaher - Student Project Assignment of MVOP Course - January, 2025 - Faculty Of Information Science - Novo mesto - Slovenia</p>
  </footer>
