<div class="container border bg-light shadow-sm">
        <div class="header">
            <img src="assets/profile.png" alt="Mitja Pupaher">
            <h2>Mitja Pupaher</h2>
            <p>Expert in the field of computer science and digital transformation</p>
        </div>
        
        <div class="info">
            <div>
                <h2>Contact</h2>
                <ul>
                    <li>Email: mitja.pupaher&#64;gmail.com</li>
                    <li>Address: Josipdol 69, 2364 Ribnica na Pohorju</li>
                    <li>Phone: 040 301 324</li>
                </ul>
            </div>
            <div>
                <h2>Skills</h2>
                <ul>
                   <p>process optimisation, Full Stack software development, project management, C# programming, ASP .NET Core, Angular, FrontEnd & BackEnd developer, MS Azure, Google Firebase, MS SQL, MySQL, NoSQL</p>
                </ul>
            </div>
        </div>

       <div class="section">
            <h2>Education</h2>
            <p><strong>Master degree student of computer science & web technologies</strong> | Faculty of information studies, Novo mesto, SI</p>
            <p>2023 - present</p>
            <p>In progress</p>            
            <p><strong>HR Management graduate</strong> | DOBA Faculty, Maribor, SI</p>
            <p>2020 - 2022</p>            
            <p><strong>IT Engineer</strong> | DOBA VSŠ, Maribor, SI</p>
            <p>2017 - 2019</p>          
            <p><strong>Computer technician</strong> | SERŠ, Maribor, SI</p>
            <p>1996 - 2000</p>           
            <p><strong>Primary education</strong> | OŠ Ribnica na Pohorju, SI</p>
            <p>1988 - 1996</p>           
        </div>
        <div class="section">
            <h2>Projects</h2>
            <p><strong>Poseidon XT information system - desktop app</strong> | Elektro Maribor, SI</p>
            <p>2017 - 2019</p>
            <p>Informatisation of business processes in the Measurement Laboratory (diploma thesis)</p>
            <p>&nbsp;</p>
            <p><strong>Randomizer - desktop app</strong> | Elektro Maribor, SI</p>
            <p>2010 - 2011</p>
            <p>Development & launch of an application for statistically representative sampling of smart electricity meters in accordance with MIRS (Urad za meroslovje RS) regulations.</p>
        </div>
    </div>


