<div class="container-fluid top-bar navbar-right">
    <a class="mx-2 navbar-right">
        <span class="fa fa-user-plus mx-2" aria-hidden="true"></span>Sign Up</a>
    <a class="mx-2 navbar-right">
        <span class="fas fa-sign-in mx-2" aria-hidde="true"></span>Login</a>
</div>

<nav class="navbar navbar-expand-sm mb-3 border shadow-sm" id="neubar">
    
  <div class="container-fluid my-container-fluid">
    
       <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
              
              <li class="nav-item">
                  <a class="nav-link" href="#" [routerLink]="['/']">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2" href="#" [routerLink]="['/data-import']">Data import</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2" href="#" [routerLink]="['/select-data']">Select data</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2" href="#" [routerLink]="['/choose-method']">Select method</a>
              </li>   
              <li class="nav-item">
                <a class="nav-link mx-2" href="#" [routerLink]="['/analysis-reports']">Analysis Reports</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2" href="#" [routerLink]="['/']">Data export</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link mx-2" href="#" [routerLink]="['/']">Info</a>
              </li>
              <li>
                         
              </li>
          </ul>
      </div>
  </div>
</nav>



