
<nav class="navbar navbar-expand-sm navbar-light mb-3" id="neubar">
    <div class="container">
      <a class="navbar-brand" href="#">MCDA Web Appliction</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">            
            <a class="nav-link mx-2" href="#" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#" [routerLink]="['/data-import']">Data Import</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#" [routerLink]="['/choose-data']">Choose Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#" [routerLink]="['/choose-method']">Choose Method</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#" [routerLink]="['/']">Data Export</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#" [routerLink]="['/']">Info</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
