<div class="container mt-2">    
  <div class="card bg-color mt-3 mb-3 pt-2 pb-2">
    <h5 class="text-center">Quick tutorials with step-by-step video explanations</h5>
  </div>
    <div class="row align-items-center">
      <div class="col-3">
        <div class="card shadow-sm bg-light" style="max-width: 18rem; height: 18rem;">
            <iframe 
                src="https://www.youtube.com/embed/PcTP6vs1FZw"
                class="card-img-top" 
                controls 
                allowfullscreen>
            </iframe>
            <div class="card-body">
                <h5 class="card-title">Personalized data import</h5>
                <p class="card-text">How to properly prepare an Excel worksheet and import it into application.</p>
            </div>
        </div>
    </div>
      
    
      <div class="col">
        <div class="card shadow-sm bg-light" style="max-width: 18rem; height: 18rem;">
            <iframe 
                src="https://www.youtube.com/embed/92E6fFeyJd4"
                class="card-img-top" 
                controls 
                allowfullscreen>
            </iframe>
            <div class="card-body">
                <h5 class="card-title">WSM method analysis</h5>
                <p class="card-text">Watch how to use WSM method analysis and set weights of criteria.</p>
            </div>
        </div>
    </div>
      
      <div class="col-3">
        <div class="card shadow-sm bg-light" style="max-width: 18rem; height: 18rem;">
          <iframe 
          src="https://www.youtube.com/embed/92E6fFeyJd4"
          class="card-img-top" 
          controls 
          allowfullscreen>
          </iframe>
  
          <div class="card-body">
            <h5 class="card-title">AHP method analysis</h5>
            <p class="card-text">Watch how to use AHP method analysis with pairwise comparisons.</p>
           
          </div>
        </div>
      </div>
      
      <div class="col-3">
        <div class="card shadow-sm bg-light" style="max-width: 18rem; height: 18rem;">
          <iframe 
                src="https://www.youtube.com/embed/92E6fFeyJd4"
                class="card-img-top" 
                controls 
                allowfullscreen>
          </iframe>
  
          <div class="card-body">
            <h5 class="card-title">TOPSIS method analysis</h5>
            <p class="card-text">Watch how to use TOPSIS method analysis, setting weights and criteria types.</p>
           
          </div>
        </div>
      </div>
      
      <div class="col-3">
        <div class="card shadow-sm bg-light" style="max-width: 18rem; height: 18rem;">
          <iframe 
                src="https://www.youtube.com/embed/92E6fFeyJd4"
                class="card-img-top" 
                controls 
                allowfullscreen>
           </iframe>
  
          <div class="card-body">
            <h5 class="card-title">PROMETHEE method analysis</h5>
            <p class="card-text">Watch how to set weights, criteria types and preference functions.</p>
           
          </div>
        </div>
      </div>      
  
     
      </div>
    </div>
 