<div class="d-flex justify-content-center" *ngIf="isData === true; else noDataTemplate">
<table class="select-table border shadow-sm mt-3 mb-2">
    <thead>
      <tr>
        <th>Select 3 Alternatives:</th>
        <th *ngFor="let column of columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let row of data; let i = index">
        <td>
          <div class="input-checkbox">
          <input 
            class="form-check-input input-checkbox" 
            type="checkbox" 
            [checked]="selectedRows.includes(i)"
            [disabled]="!selectedRows.includes(i) && selectedRows.length >= 3"
            (change)="toggleSelection(i, row)" />
          </div>
          </td>
      
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noDataTemplate>
  <div class="card title border shadow-sm mt-5 pt-3 pb-3 text-center bg-light">
   <h5>No data available. Select Data Import from Navbar menu and import data first!</h5>
  </div>
</ng-template>

  <div class="text-center mt-5" *ngIf="isData === true;">
  <button type="submit" class="analyze-button" [disabled]="selectedRows.length !== 3" (click)="proceedToAnalysis()">Proceed To Select Method</button>
  </div>
