
<div class="card bg-color mt-3 mb-5 pt-2 pb-2">
  <h5 class="text-center">Data import options</h5>
</div>
<div class="card title border shadow-sm mt-5 mb-5 pt-3 pb-3 bg-light">
  <h4 class="mx-3 text-center">Fortune Global 500 - Top 20 Companies in 2024</h4>  
  <div class="row mx-3 my-3 justify-content-center">
    <button class="button form-control input-file" (click)="fortuneGlobalData()">Continue</button>
  </div>
</div>

  <div class="card title border shadow-sm mt-5 mb-5 pt-3 pb-3 bg-light">
    <h4 class="mx-3 text-center">Personalized data - Excel file import</h4>
    <p class="mx-3 text-center">Excel structure: 4 columns with headers: [alternative] [criteria1] [criteria2] [criteria3]</p>
    <div class="row mx-3 my-3 justify-content-center">
      <input type="file" (change)="onFileChange($event)" class="form-control input-file">
    </div>
  </div>

    
    <table class="table border shadow-sm mt-3 mb-2 text-center" *ngIf="data.length">
      <thead>
        <tr>
          <th>Select 3 Alternatives:</th>
          <th *ngFor="let column of columns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row" *ngFor="let row of data; let i = index">
          <td>
            <div class="input-checkbox">
            <input 
              class="form-check-input input-checkbox"
              type="checkbox" 
              [checked]="selectedRows.includes(i)"
              [disabled]="!selectedRows.includes(i) && selectedRows.length >= 3"
              (change)="toggleSelection(i, row)" />
            </div>
            </td>
        
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
    <button class="btn btn-primary mt-3" [disabled]="selectedRows.length !== 3" (click)="proceedToAnalysis()">Proceed To Choose Method</button>
    </div>