
<div class="card bg-color mt-3 mb-5 pt-2 pb-2">
  <h5 class="text-center">Data import options</h5>
</div>
<div class="card card-import title border shadow-sm mt-5 mb-5 pt-3 pb-3 bg-light">
  <h4 class="mx-3 text-center">Fortune Global 500 - Top 20 Companies in 2024</h4>
  <p class="mx-3 text-center">Invest in your future</p>  
  <div class="row mx-3 my-3 justify-content-center">
    <button class="button form-control input-file" (click)="fortuneGlobalData()">Import</button>
  </div>
</div>

  <div class="card card-import title border shadow-sm mt-5 mb-5 pt-3 pb-3 bg-light">
    <h4 class="mx-3 text-center">Personalized data - Excel file import</h4>
    <p class="mx-3 text-center">Excel structure: 4 columns with headers: [alternative] [criteria1] [criteria2] [criteria3]</p>
    <div class="row mx-3 my-3 justify-content-center">
      <input type="file" (change)="onFileChange($event)" class="form-control input-file">
    </div>
  </div>

  <div class="text-center" *ngIf="isData===true;">
    <button type="submit" class="analyze-button" (click)="proceedToSelectData()">Proceed to Select data</button>
    </div>