<div class="container mt-2">
  <div class="card title border shadow-sm bg-color">
  <h4 class="text-center py-2">TOPSIS analysis method</h4>
  </div>
  <div >
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Alternativa</th>
          <th *ngFor="let column of criteria">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of selectedData">
          <td>{{ row[0] }}</td>
          <td *ngFor="let value of row.slice(1)">{{ value }}</td>
        </tr>
      </tbody>
    </table>
  </div>



  <div class="mt-4">
    <h5>Set weights - importance of criterion:</h5>

    <form (ngSubmit)="calculateTopsis()">
    <table class="input-table">
      <thead>
        <tr>
          <th>Criteria</th>
          <th>Weight</th>
          <th>Value</th>
          <th>Type of Criteria</th>
        </tr>
      </thead> 
      <tbody>
        <tr *ngFor="let criterion of criteria; let i = index">
          <td>{{ criterion }}</td>
          <td>
            <input
              type="range"
              [value]="weights[i]"
              (input)="onSliderChange(i, $event)"
              class="input-slider"
              min="0"
              max="100"
              step="10"
            />
          </td>
          <td>{{ weights[i] }}</td>
          <td>
            <select
              [(ngModel)]="types[i]"
              [ngModelOptions]="{ standalone: true }"
              class="input-type"
            >
              <option value="cost">Cost</option>
              <option value="benefit">Benefit</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="total-weight">
      Skupna utež: {{ getTotalWeight() }} / 100
    </div>
    <button type="submit" class="analyze-button" [disabled]="getTotalWeight() !== 100">Process Analysis</button>
  </form>
  </div>
  
   
   <!-- Prikaz rezultatov -->
   <div *ngIf="result.length > 0" class="results-container">
    <h4 class="mt-2">Analysis Results:</h4>
    <table class="results-table">
      <thead>
        <tr>
          <th>Alternative</th>
          <th>Ranking</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let res of result; let i=index;">
          <td>{{ res.alternativa }}</td>
          <!--<td>{{ res.rank }}</td> -->
          <td>{{ i+1 }}</td>
          
        </tr>
      </tbody>
    </table>
    <h4 class="mt-2">Visual Representation:</h4>
    <div id="chartContainer">
    <div id="chart"></div>
    </div>
    <button type="submit" class="analyze-button" [routerLink]="['/choose-method']">Back To Choose Method</button>
  </div>


  </div>