.topsis-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #2c3e50;
}

.table-row:hover { 
  background-color:beige;
 }

 /* Stiliranje prvega stolpca (levo poravnano) */
.td:first-child, .th:first-child {
  text-align: left;
}

/* Stiliranje ostalih stolpcev (sredinsko poravnano) */
td:not(:first-child), th:not(:first-child) {
  text-align: center;
}

 .input-table, .results-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
}

.input-table th, .results-table th {
  background-color: #3498db;
  color: white;
  padding: 10px;
}

.input-table td, .results-table td {
  padding: 10px;
  border: 1px solid #ddd;
}
 
.input-weight, .input-type {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.analyze-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
}

.analyze-button:hover {
  background-color: #27ae60;
}

.results-container {
  margin-top: 20px;
}

/*vsako drugo vrstico v tabeli obarvaj
.results-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
*/

.input-slider {
  width: 100%;
  margin: 5px 0;
}
.input-table td {
  text-align: center;
  padding: 5px;
}
.total-weight {
  margin-top: 10px;
  font-weight: bold;
  text-align: right;
}
.analyze-button {
  margin-top: 15px;
  padding: 10px 20px;
}

.bg-color {
  background-color: #22c968;
  color:whitesmoke;
}

.title {
  display:flex;
  align-self: center;  
}  


#chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100%;
  height: auto;
}