<div class="container mt-2">
      <div class="card title border shadow-sm bg-color mt-5 mb-2">
        <h4 class="text-center py-2">Welcome to MCDA - Multi-Criteria Decision Analysis Application</h4>
     </div>

     <div class="card title border shadow-sm mt-0 mb-2 pt-3 pb-3 text-center bg-light">
       <h5>What we mean by Multi-Criteria Decision Analysis ?</h5>
        <p class="mb-2 mx-5">Well, simply explained. MCDA is a way of helping decision-makers rationally choose between multiple options where there are several
            conflicting objectives. It is usually used when there are a mix of criteria that cannot be obviously compared,
            there are multiple stakeholders perspectives that affect the decision being made and simply where other approaches are not suitable.
        </p>
     </div>
          <div class="card title border shadow-sm bg-color mt-5 mb-2">
            <h5 class="text-center py-2">What we cover here ?</h5>
        </div>

        <div class="row row-cols-1 row-cols-md-5 g-3">
            <div class="col">
                <div class="card title border shadow-sm bg-light h-100">
                    <img src="/assets/data-import.png" class="card-img-custom" alt="data-import">
                    <div class="card-body text-center">
                        <h5 class="card-title">Data import</h5>
                        <p class="card-text">Simple and quick personalized data import.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card title border shadow-sm bg-light h-100">
                    <img src="/assets/data-select.png" class="card-img-custom" alt="data-select">
                    <div class="card-body text-center">
                        <h5 class="card-title">Data selection</h5>
                        <p class="card-text">Select your imported data as desired and needed.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card title border shadow-sm bg-light h-100">
                    <img src="/assets/mcda-methods.png" class="card-img-custom" alt="mcda-methods">
                    <div class="card-body text-center">
                        <h5 class="card-title">MCDA methods</h5>
                        <p class="card-text">Analyze data with many integrated MCDA methods.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card title border shadow-sm bg-light h-100">
                    <img src="/assets/data-export.png" class="card-img-custom" alt="data-export">
                    <div class="card-body text-center">
                        <h5 class="card-title">Data export</h5>
                        <p class="card-text">Feature under development and will be covered soon.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card title border shadow-sm bg-light h-100">
                    <div class="card-img-custom video-wrapper">
                        <iframe src="https://www.youtube.com/embed/YOUR_VIDEO_ID" 
                                title="User Guide Video" 
                                frameborder="0" 
                                allowfullscreen></iframe>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">User Guide Video</h5>
                        <p class="card-text">Don't hesitate and watch the video instructions for use.</p>
                    </div>
                </div>
            </div>
        </div>
            

</div>
