<div class="container mt-2">
      <div class="card title border shadow-sm mt-3 mb-0 pt-3 pb-0 text-center bg-color">
        <h4>Welcome to MCDA Page - Multi-Criteria Decision Analysis Application</h4>
     </div>

     <div class="card title border shadow-sm mt-3 mb-3 pt-3 pb-3 text-center bg-light">
       <h5>What we mean by Multi-Criteria Decision Analysis ?</h5>
        <p>Well, simply explained. MCDA is a way of helping decision-makers rationally choose between multiple options where there are several
            conflicting objectives. It is usually used when:
            <li>there are a mix of criteria that cannot be obviously compared</li>
            <li>there are multiple stakeholders perspectives that affect the decision being made</li>
            <li>other approaches are not suitable</li>
        </p>
     </div>
          <div class="card title border shadow-sm mt-0 mb-3 pt-3  text-center bg-color"><h5>What we cover here ?</h5></div>
        
          <div class="row">
            <div class="col-md-2 text-center offset-md-1">
                <div class="card title border shadow-sm bg-light">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Data import</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn analyze-button">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="card title border shadow-sm bg-light">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Data selection</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn analyze-button">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="card title border shadow-sm bg-light">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Methods using</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn analyze-button">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="card title border shadow-sm bg-light">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Data export</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn analyze-button">Go</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="card title border shadow-sm bg-light">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Data export</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn analyze-button">Go</a>
                    </div>
                </div>
            </div>
      
        </div>

</div>
