<div class="container mt-2"> 
  <div class="card bg-color mt-3 pt-2 pb-2">
    <h5 class="text-center">Choose analysis method</h5>
  </div>

  <div class="card bg-light mb-5 pt-2 pb-2">
    <h6 class="text-center">Fully validated methods are WSM, AHP & TOPSIS, but PROMETHEE II is in the testing phase, results may be incorrect!</h6>
  </div>

<div class="d-flex justify-content-center mt-5 mb-5 my-5 mx-5 px-3 py-3 card card-choose-method title border shadow-sm bg-light" *ngIf="isData === true; else noDataTemplate">
    
    <div class="list-group text-center mx-3 mb-3 mt-3">
      <button class="button button-hover" *ngFor="let method of methods"
        class="list-group-item list-group-item-action"
        [class.active]="method === selectedMethod"
        (click)="selectMethod(method)"
      >
        {{ method }}
      </button>
    </div> 
   
  </div>
  <ng-template #noDataTemplate>
    <div class="card title border shadow-sm mt-5 mb-3 pt-3 pb-3 text-center bg-light">
     <h5>No data available. Select Data import from Top menu and import data first!</h5>
    </div>
  </ng-template>

  <div class="text-center mt-5" *ngIf="isData === true;">
    <button type="submit" class="analyze-button mt-5" [disabled]="!selectedMethod" (click)="proceed()">Proceed To Analysis</button>
    </div>   
</div>  
  
